* {
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(https://cdn.motor1.com/images/mgl/82k7W/s1/cars-parked-in-an-underground-parking-garage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

b {
  font-weight: 700;
}

h3, h1 {
  padding: 6vh 0 1vh 0;
}

h5 {
  margin-left: 3vw;
}

h5 .green {
  color: white;
  background-color: black;
  padding: 0 1vw;
}

h5 .red {
  color: white;
  background-color: black;
  padding: 0 1vw;
}

nav {
  background-color: white;
  min-height: 5vh;
  font-size: 1.3em;
}

nav a:hover {
  background-color: black;
  color: white !important;
  cursor: pointer;
}

button#donate {
  background: #212529;
  color: white;
}

button#donate :active {
  background-color: white;
  color: black;
  border: black;
  margin-left: 4px;
}

button#donate p {
  font-size: 16px;
  padding: 8px;
  margin: 0;
}

#showdonation {
  font-weight: 700;
}

.vip {
  background-color: black;
  color: white;
}

.jumbotron {
  height: 100vh;
  background-image: url(https://cdn.motor1.com/images/mgl/82k7W/s1/cars-parked-in-an-underground-parking-garage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  margin: 0;
  padding: 0;
}

.jumbotron h1 {
  padding: 50px;
  background-color: white;
  font-size: 5vw;
  letter-spacing: 0.3em;
  text-align: center;
  color: black;
  position: fixed;
  z-index: 10;
}

.container-fluid {
  z-index: 20;
  background-color: #f8f9fafa;
  position: relative;
  width: 100%;
  padding: 3vh 5vw;
  margin: 0;
}

.container-fluid img {
  height: 200%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
  margin-bottom: 1vw;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.container-fluid img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

form {
  margin: auto;
  padding: 5%;
}

form label {
  width: 100%;
  border-bottom: 1px solid;
  margin: 1vh 0;
}

form input, form textarea {
  width: 100%;
  border: none;
  background-color: initial;
}

form input:focus, form textarea:focus {
  outline: none;
}

form .btn {
  background: #212529;
  color: white;
}

.contactimg {
  background-image: url(https://cdn.motor1.com/images/mgl/82k7W/s1/cars-parked-in-an-underground-parking-garage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactimg h1 {
  background-color: white;
  font-size: 5vw;
  letter-spacing: 0.3em;
  color: black;
  padding: 5px;
}
/*# sourceMappingURL=styles.css.map */